matplotlib-inline==0.1.7
numpy==1.26.4
pandas==2.2.2
plotly==5.23.0
python-telegram-bot==13.15
streamlit==1.37.1
telegram==0.0.1
torch==2.4.0
transformers==4.44.0
python-dotenv==1.0.1
##streamlit-authenticator==0.3.3
psycopg2==2.9.9

##sudo apt install libpq-dev python3-dev
##python 3.11